{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Funnyornot{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/site_media/media/pic_folder/dragon.jpg" alt="..." height="500" width="800">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="/site_media/media/pic_folder/old_drake.jpg" alt="..." height="450" width="800">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="/site_media/media/pic_folder/no-img.jpg" alt="..." height="450" width="800">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="info">
    <img id="info-pic"src="/site_media/media/pic_folder/meme_decorator.jpg" alt="..." height="300" width="300">
    <p id="info-paragraph"> This website was made to allow you to post about any and everything you think is funny. 
    Make an account and start posting write now, or The creator will never become rich and succesfuk.</p>
</section>

{% endblock %}
